<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>438833296442-fun5n2j1b1rvq4vrc99l1u34dgn284c2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.438833296442-fun5n2j1b1rvq4vrc99l1u34dgn284c2</string>
	<key>API_KEY</key>
	<string>AIzaSyDotA3t-8e9Vg4aIES1mTDuBcHxFXjWo0w</string>
	<key>GCM_SENDER_ID</key>
	<string>438833296442</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rafin.Calendars</string>
	<key>PROJECT_ID</key>
	<string>mobile-application-dev-74b3f</string>
	<key>STORAGE_BUCKET</key>
	<string>mobile-application-dev-74b3f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:438833296442:ios:2e4061b6cdca60ec203103</string>
	<key>DATABASE_URL</key>
	<string>https://mobile-application-dev-74b3f.firebaseio.com</string>
</dict>
</plist>